
<style>
    #reading-page {
        cursor: default;
    }
    .lemma {
        display: none;
    }
</style>

<section id="literature-viewer" class="d-flex justify-content-center">
    <div style="max-width: 960px; width: 100%;">
        <form id="document-selection" class="mb-3">
            <div class="mb-2">
                <div class="col ps-0">
                    <select id="current-text" class="form-select">
                        <option value="">&lt;Select a Document&gt;</option>
                    </select>
                </div>
                <div class="col-auto p-0 pt-1" style="display: none">
                    <button type="button" class="btn btn-primary btn-sm">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>

            <div class="mb-3" style="display: none">
                <select id="current-volume" class="form-select">
                </select>
            </div>
        </form>

        <div class="card rounded-0" style="min-height: 20em;">
            <div id="reading-page" class="card-body px-3 py-5 px-lg-5"
                style="font-size: 1.5em;" 
            >
            </div>
        </div>
    </div>
</section>
