{% macro render_nav_home(name) %}

<a class="navbar-brand" href="{{ url_for('base.vue_home') }}">
    {{ name }}
</a>

{% endmacro %}

{% macro render_nav_toggle() %}

<button class="navbar-toggler" type="button"
    data-bs-toggle="collapse" data-bs-target="#navbarCollapseContent"
    aria-controls="navbarCollapseContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

{% endmacro %}

{% macro render_nav_item(title, url, active=False) %}

<li class="nav-item">
    <a href="{{ url }}"
        class="nav-link{% if active %} active{% endif %}"
        {% if active %}aria-current="page"{% endif %}>
        {{ title }}
    </a>
</li>

{% endmacro %}

<nav class="navbar navbar-expand-xxl navbar-dark bg-dark">
    <div class="container">
        {{ render_nav_toggle() }}
        {{ render_nav_home(site_name) }}

        <div class="collapse navbar-collapse" id="navbarCollapseContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                {{ render_nav_item('Library', '/library') }}

                {{ render_nav_item('Login', '/user/login') }}
                {{ render_nav_item('Logout', '/user/logout') }}
            </ul>
        </div>
    </div>
</nav>